PORT=8000
DB_NAME=ks_db
MONGODB_URI=mongodb+srv://tikamkasper:%40321kasper@cluster0.7suua.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGIN=*
REFRESH_TOKEN_SECRET=thisisrefreshtokensecret
REFRESH_TOKEN_EXPIRY=1d

NODE_ENV=production

EMAIL=tikamkasper@gmail.com
EMAIL_PASSWORD=tfenbjmhqpvqjkid


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=